<!DOCTYPE html>

<html>
    <head>
        <title>What's Going On?</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body style= "text-align: center; width: 100%; background-color: #4286f4; color: white;">
        <h1 style= "padding-bottom: 1rem; text-align: center; margin-left: 15%; margin-right: 15%; width: 70%; font-size: 4rem; font-family: Times; border-bottom: 2px solid white;">Toggle</h1>

        <ul = style= "padding-top: 0rem; list-style-type: none; display: inline-block;">
        <% amlist.forEach(function(am, index) { %>
            <a href="/todo/heure=<%am%>">
            <button id = "hit" style= "padding-top: 0rem; margin: .5rem; margin-top: 0rem; background-color: white; color: #4286f4; display: block; width: 6rem; padding: .5rem; border: 1px solid lightgray;"> <%= am %></button></a>
        <% }); %>
        </ul>
        
        <ul = style= "list-style-type: none; display: inline-block;">
        <% pmlist.forEach(function(pm, index) { %>
            <a href="/todo/heure=<%pm%>">
            <button id= "hit" style= "margin: .5rem; margin-top: 0rem; background-color: white; color: #4286f4; display: block; width: 6rem; padding: .5rem; border: 1px solid lightgray;"> <%= pm %></button></a>
        <% }); %>
        </ul>

        <ul = style= "list-style-type: none; display: inline-block;">
            <div id="fill" >
                <p style="font-size: 1.5rem; text-decoration: underline;">List of Events: </p>
                <ul>
                <% sevents.forEach(function(eve, index) { %>
                    <li style="text-align: left;">
            <!-- <p id = "fill"></p> --> <%=eve%>
                    </li>
                <%});%>
                </ul>
            </div>
        </ul>
        <!---->
        <!---->

        <form action="/todo/add/" method="post">
            <p = style= "padding-right: 2rem; display: inline-block;">
                <label for="newtodo">My Event Name: </label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                
            </p>
            <p = style= "padding-right: 2rem; display: inline-block;">
                <label for="newtodo">My Event Start Time (only give the hour): </label>
                <input type="text" name="newstart" id="newstart" autofocus />
                
            </p>
            <p = style= "display: inline-block;"">
                <label for="newtodo">AM or PM (a/p): </label>
                <input type="text" name="aorp" id="aorp" autofocus />
                <input type="submit" />
            </p>
        </form>

        <!-- <script>
            document.getElementById("hit").addEventListener("click", showDiv());
            function showDiv() {

                if(document.getElementById("fill").style.display == "none")
                {
                    document.getElementById("fill").style.display = 'block';
                    document.getElementById("fill").style.visibility = 'visible';
                }
                else {
                    document.getElementById("fill").style.display = "none"
                }
            }
        </script> -->
        <!-- <script>
            // var ids = new Array(24);
            // ids = ["12:00am", "1:00am", "2:00am", "3:00am", "4:00am", "5:00am", "6:00am", "7:00am", "8:00am", "9:00am", "10:00am", "11:00am", "12:00pm", "1:00pm", "2:00pm", "3:00pm", "4:00pm", "5:00pm", "6:00pm", "7:00pm", "8:00pm", "9:00pm", "10:00pm", "11:00pm"];
            // var decoder = new Array(24)
            // var s;
            // for(s = 0; s < 24; s++)
            // {
            //     decoder[s] = s;
            // } object.onclick = function(){myScript};

            var eventsFinal = new Array();
            <% for(var c = 0; c < events.length; c++) { %>
                eventsFinal[c] = <%=events[c]%>;
            <%}%>

            document.getElementById("butt").onclick = function(check, events) 
            {
                var ap = 'am';
                
                for(var i = 0; i < events.length; i++)
                {
                    if(events[i].aorp == 'p')
                    {
                        ap = 'pm';
                    }
                    if(events[i].time + ':00' + ap == check)
                    {
                        eventFinal.push(events[i]);
                    }
                }
                document.getElementById("fill").innerHTML = eventsFinal;
            }
        </script> -->
    </body>
</html>
